
.headerMobile {
    display: none;
  }
  .sh-mobile {
    display: none;
  }
  .sh-desktop {
     display: block;
  }

.prodlistwrp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -0.5%;
    margin-right: -0.5%;
}
.prodlist {
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    border: 0px!important;
    text-align: center;
}

.prodlistcondts {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.prodlist2wrp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -0.5%;
  margin-right: -0.5%;
}
.prodlist2 {
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  border: 0px!important;
  text-align: left;
  background-color:#f8f9fa ;
}
.prodlist2condts {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.prodcrtdtls {
    display: flex;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
}
.qtybox input{
    width: 25px;
    height: 30px;
    border: none !important;
    padding: 0;
    color: #000;
    background-color: #FFE141;
  }
  .addtocartbtn{
    background: #FFE141;
    border: 1px solid #FFE141;
    color: #000;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 4px;
    outline: none !important;
    box-shadow: none !important;
    margin-top: 10px;
  }
  .qtyboxbtn{
    height: 30px;
    width: 25px;
    background: #FFE141;
    border: 1px solid #FFE141;
    color: #000;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .qtybox {
    margin-right: 5px;
    border: 1px solid #FFE141;
    border-radius: 4px;
    overflow: hidden;
  }
  .prodcrtdtls {
      display: none;
  }
  .btn_wrapper {
    margin-top: 10px;
}






/* Media Query*/

@media only screen and (min-width: 992px) and (max-width:1169px){
	  
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    
}
@media screen and (max-width: 991px){
    header.headerMobile{
        background: #FFE78A;
        padding: 6px 0;
        position: relative;
        display: block;
      }
      header.header {
       display: none!important;
    }
    body {
        margin: 0px 0 0 0;
    }
    .Breadcumdesk {
        display: none;
    }
    .sh-mobile {
        display: block;
      }
      .sh-desktop {
         display: none;
      }
      .prodlistwrp {
        display: block;
       
    }
    .prodlist {
        width: 100%;
        text-align: left;
    }
    .prodlistcondts {
        flex-direction: inherit;
    }
    .prodlist2wrp {
      display: block;
     
  }
  .prodlist2 {
      width: 100%;
      border: 1px solid #ddd!important;
      text-align: left;
  }
  .prodlist2condts {
      flex-direction: inherit;
  }
    .prodcrtdtls {
        display: flex;
        margin-top: 0px;
        align-items: center;
        flex-direction: inherit;
    }
    .qtybox input{
        color: #000;
        background-color: #FFE141;
      }
      .addtocartbtn{
        background: #FFE141;
        border: 1px solid #FFE141;
        color: #000;
        margin-top: 0px;

      }
      .qtyboxbtn{
        background: #FFE141;
        border: 1px solid #FFE141;
        color: #000;
      }
      .qtybox {
        border: 1px solid #FFE141;
      }
      /* .prodthmbqty {
        display: block ;
    }
    .bought button.btn-cart {
        display: block;
    }
     .spinner {
        display: none;
    }
    .button.btn-cart.loader  {
        display: none;
    }
     */
     .btn_wrapper {
         display: none;
     }
     .addtocartbtn svg {
         display: none;
         font-weight: 400;
     }
    
      
}